version: "3.4"
services:
  webpack-client:
    build:
      context: client/
      target: webpack
    ports:
      - "3000:3000"
    volumes:
      - ./client/src:/var/www/marii-mern/src/
  dev-server:
    build:
      context: server/
    ports:
      - "3001:3000"
  mongo:
    image: mongo:latest
    expose:
     - "27017"